<!DOCTYPE html>

<html>
   <head>
      <title>Header Parser Microservice</title>
      <link href="style.css" rel="stylesheet" type="text/css">
   </head>

   <body>
     <div id="container">
       <h2>API Project: Request Header Parser Microservice</h2>
         <div id="bodyDiv">
           <h3>User Story:</h3>
           <ol>
             <li>
               I can get the IP address, preferred languages (from header Accept-Language)<br>
               and system infos (from header User-Agent) for my device.
             </li> 
           </ol>
           <h3>Example Usage:</h3>
           <a href=""></a>
           <h3>Example Output:</h3>
           <p>{"ipaddress":"159.20.14.100","language":"en-US,en;q=0.5",<br>
            "software":"Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:50.0) Gecko/20100101 Firefox/50.0"}</p>
         </div>
         <div id="footer">
           <h4>Copyright © 2019 Nolan Kuenzi. Made for the freeCodeCamp Apis and Microservices Project - Request Header Parser Microservice.</h4>
         </div> 
     </div>
   </body>
</html>